<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nextgen.wastemanagement">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WasteManagement"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".SegregationActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".WasteCollectedActivity"
            android:exported="false" />
        <activity
            android:name=".RequestStatusActivity"
            android:exported="false" />
        <activity
            android:name=".WasteRequestActivity"
            android:exported="false" />
        <activity
            android:name=".ViewRequestActivity"
            android:exported="false" />
        <activity
            android:name=".PickUpActivity"
            android:exported="false" />
        <activity
            android:name=".RequestServiceActivity"
            android:exported="false" />
        <activity
            android:name=".ViewFeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".PublicBinsActivity"
            android:exported="false" />
        <activity
            android:name=".CommunitiesChatActivity"
            android:exported="false" />
        <activity
            android:name=".WasteReportsActivity"
            android:exported="false" />
        <activity
            android:name=".PointsActivity"
            android:exported="false" />
        <activity
            android:name=".CommunityActivity"
            android:exported="false" />
        <activity
            android:name=".PurchaseHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".TipsActivity"
            android:exported="false" />
        <activity
            android:name=".CheckOutActivity"
            android:exported="false" />
        <activity
            android:name=".ProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".AddProductsActivity"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyClnIOLC-x_Fs0vuEviwRufmran0eGfZoo" />

        <activity
            android:name=".WorkerHomeActivity"
            android:exported="false"
            android:label="@string/title_activity_worker_home" />
        <activity
            android:name=".ViewReportsActivity"
            android:exported="false" />

        <service
            android:name=".Services.LocationService"
            android:enabled="true"
            android:exported="true" /> <!-- File for accessing image from camera in android 12 and above -->
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/file_paths" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.nextgen.anandu"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!--  -->
        <activity
            android:name=".ReportActivity"
            android:exported="false" />
        <activity
            android:name=".CampaignDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".UserHomeActivity"
            android:exported="false" />
        <activity
            android:name=".UserRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".IPActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:exported="false" />
        <activity
            android:name=".WorkerLoginActivity"
            android:exported="false" />
        <activity
            android:name=".UserLoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>